body{
    background-color:black;
}

/*redimensionando a imagem*/
img{
    max-width: 200px;
    border-radius: 100%;
    border: 4px solid rgb(255, 184, 77);
}

/*alinhando a imagem e a div*/
#image{
    display: flex;
    justify-content: center;
}

/*alinhando a conteúdo na tela, alterando fonte e cor da fonte*/
#conteiner {
    display: flex;
    margin-top: 0px;
    padding: 100px;
    font-family: 'Lucida Sans Unicode';
    color: rgb(250, 213, 156);
}

/*estilizando a div que contem o conteudo*/
#content{
    display: flexbox;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px rgb(255, 184, 77) solid;
    background-color: black;
    padding:10%;
    border-radius: 20px;
}

/*padronizando os títulos*/
h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    color:rgb(255, 184, 77);
    font-weight: bold;
    
}

h2{
    text-align: center;
    color:rgb(255, 184, 77)
}

h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

h4{
    color:rgb(255, 184, 77);
    font-size: 14;
}


/*estilizando e alinhando o botão do formulário*/
button{
    
    display: flex;
    border-radius: 2px 2px;
    justify-content: center;
    padding: 4px;
    float: right;
    background-color: rgb(255, 184, 77);
    color: black;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
}

/*justificando todos os parágrafos*/
p{
    text-align: justify;
}


/*adaptabilidade da pagina*/
@media screen and (max-width:1020px){
    #content{
        flex-direction: column;
    }
}

/*estilizando o indice do menu*/
.indice{
    text-align: center;
    align-content: center;
    border-top: 4px rgb(255, 184, 77) dashed;
    border-radius: 40px;

}

/*padronizando as listas e os items*/
.lista1 li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 6px;
}
ul.lista1{
    padding: 0px;
}

.lista2 li{
    margin-bottom: 10px;
}

/*mudando cor dos links*/
a:link{
    color:rgb(255, 184, 77);
    text-decoration: none;
}

/*mudando cor dos links visitados*/
a:visited{
    color:rgb(132, 190, 57);
}

/*colocando padding nas células da tabela*/
td{
    padding: 4px;
}

/*retirando o redimensionamento do textarea da mensagem*/
textarea{
    resize: none;
}
